{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="card m-5 p-2">
            <div class="body">
                <h1 class="text-center mt-3 mb-5">Mark Attendance</h1>
                <form action="" method="POST" enctype="multipart/form-data" class="form-inline justify-content-center">
                    {{ form.hidden_tag() }}
                    <div class="form-group mb-2 ml-1 mr-1">
                        {{ form.lecture_number.label(class='sr-only', for='lecture_number') }}
                        {{ form.lecture_number(class='form-control') }}
                    </div>
                    <div class="form-group mb-2 ml-1 mr-1">
                        {{ form.class_name.label(class="sr-only", for='class_name') }}
                        {{ form.class_name(class='form-control', placeholder='Class') }}
                    </div>
                    <div class="form-group mb-2 ml-1 mr-1">
                        {{ form.date.label(class='sr-only') }}

                        {{ form.date(class='form-control', placeholder='Date') }}
                    </div>
                    
                    <div class="form-group mb-2 ml-1 mr-1">
                        {{ form.image() }}
                    </div>
                    {{ form.submit(class="btn btn-primary mb-2 ml-1") }}
                </form>
                {% if tbl %}
                <div class="result">
                    <div class="container">
                        {% if image %}
                            <img class="img-thumbnail mx-auto d-block mt-5" height="1000" width="1000" src="data:;base64,{{ image }}" alt="">
                        {% endif %}
                        <div class="caption text-center"><b>Class Attendance</b></div>
                        <table class="table table-striped mt-5">
                            <thead>
                                <th>Enrollment Number</th>
                                <th>Student Name</th>
                            </thead>
                            {% for row in tbl %}
                                <tr>
                                    <td>{{ row[0].decode() }}</td>
                                    <td>{{ row[1].decode() }}</td>
                                </tr>
                            {% endfor %}    
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <footer style = 'position: fixed; bottom: 0; width: 100%; border-top-color: #212529;' class=" footer font-small bg-light">
        <div class="text-center pt-2">Created with &hearts; by:
            <a href="">Kapil</a>
            <a href="">Muskan</a>
            <a href="">Aayush</a> &
            <a href="">Harshal</a>
            
        </div>
        <div class="text-center py-2">&copy Copyright 2019 
    </footer>
{% endblock content %}